.logo2shareindividual {

    margin: 0%;
    padding: 0%;
    display: flex;
    /* padding-top: 160px; */
    width: 7em;
    margin-left: 35px;
    position: fixed;
    bottom: 0;
}

.logorappel , .logocontact {
    padding-left: 25px;
}

.logoburger , .logobudget {
    padding-right: 25px;

}

.logohome {
    margin-top: -3px;
    width: 100%;
}

.logo {
    display: inline-block;
    min-width: 35%;
}
