.LoginForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-color: white;
  padding-top: 60px;
}

.inputStyle {
  outline:none;
  background-color:transparent;
  color: white;
  width: 40%;
  height: 40px;
  margin: 40px 0;
  border-radius: 10px;
  font-size: 1rem;
  border-color: white;
  border: solid 2px;
 }

.inputStyle::placeholder{
  padding-left: 20px ;
  padding-block-start: 10px;
  color: white;
  font-size: 1rem;
}

.spaceBetween {
  padding-top: 40px;
}

.loginButton {
  background-color: white;
  color:#5499C7;
  width: 20%;
  height: 40px;
  border-radius: 10px;
  font-size: 1rem;
  border: solid 1px;
}