.FormFamily {
    width: 400px;
    margin: 0 auto;
    text-align: left;
}

.FormFamily h1 {
    text-align: center;
}

.FormFamily .form-data {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.FormFamily .form-data label {
    display: inline-block;
    width: 75px;
    margin-right: 10px;
    text-align: right;
}

.FormFamily .form-data input:not([type="submit"]) {
    flex-grow: 1;
}