.FormFamily {
    display: flex;
    flex-direction: column;
    justify-self: left;
}

.h1Family {
    padding-top: 1%;
    padding-bottom: 1%;
}

.inputFamily {
    outline:none;
    background-color:whitesmoke;
    color: black;
    border-radius: 10px;
    font-size: 1rem;
    border: solid 2px transparent;
    width: 30%;
    height: 35px;
}

.paragraphFamily{
    text-align: left;
    padding-left: 35%;
    padding-bottom: 5px;
    padding-top: 10px;
}

.divButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;

}

.familyButton {
    background-color: white;
    color:#5499C7;
    width: 20%;
    height: 40px;
    border-radius: 10px;
    font-size: 1rem;
    border: solid 1px;
  }

  @media screen and (max-width: 1200px){
    .inputFamily {
        outline:none;
        background-color:whitesmoke;
        color: black;
        border-radius: 10px;
        font-size: 1rem;
        border-color: white;
        border: solid 2px transparent;
        width: 70%;
        height: 35px;
    }

    .paragraphFamily{
        text-align: left;
        padding-left: 15%;
        padding-bottom: 5px;
        padding-top: 10px;
    }

    .h1Family {
        font-size: 25px;
        padding-top: 2%;
        padding-bottom: 2%;
    }
  }