
.parent1 {
  background-color: #FDEDEC !important;
  color : black;
}

.parent2 {
  background-color:#EAF2F8 ! important;
  color : black
}

.modal_style {
  text-align: center;
}

.button_change_period {
  margin: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-around;
}
