*{
  margin:0;
  padding:0;
}

.header_style_theme {
  background:  #F1F2F6 ;
  display: flex;
  justify-content: center;
}

img{
  width: 30%;
}

.footer_style_theme{
  background: #F1F2F6;
  position:absolute;
  bottom:0;
  display: flex;
}

@media screen and (max-width: 1200px){
  img{
    width: 50%;
  }
}