.display\:inline {
  display: inline;
}

.display\:inline-block {
  display: inline-block;
}

.flex\:column {
  display: flex;
  flex-direction: column;
}

.flex\:row {
  display: flex;
  flex-direction: row;
}

.flex-cross\:center {
  align-items: center;
}

.flex-cross\:stretch {
  align-items: stretch;
}

.flex-both\:center {
  justify-content: center;
  align-items: center;
}

.flex-main\:center {
  justify-content: center;
}

.flex-main\:space-around {
  justify-content: space-around;
}

.flex-main\:space-between {
  justify-content: space-between;
}

.flex-main\:space-evenly {
  justify-content: space-evenly;
}

.flex-self\:center {
  align-self: center;
}

.flex-self\:end {
  align-self: flex-end;
}

.flex-self\:stretch {
  align-self: stretch;
}

.flex\:1 {
  flex: 1;
}
