.flex\:column {
  display: flex;
  flex-direction: column;
}

.flex\:row {
  display: flex;
  flex-direction: row;
}

.flex-cross\:center {
  align-items: center;
}

.flex-cross\:stretch {
  align-items: stretch;
}

.flex-both\:center {
  justify-content: center;
  align-items: center;
}

.flex-main\:center {
  justify-content: center;
}

.flex-main\:space-around {
  justify-content: space-around;
}

.flex-main\:space-between {
  justify-content: space-between;
}

.flex-main\:space-evenly {
  justify-content: space-evenly;
}

.flex-self\:stretch {
  align-self: stretch;
}

.flex\:1 {
  flex: 1;
}

.navLink {
  color : #0155A6;
  text-decoration:none;
}

